CCR_scripts.zip
read_point_list_and_compere
read_ucsf
read_ucsf_sprawdzanie_szumu.txt
set_for_calcCCRrate_qOpn/
set_for_calcCCRrate_Ubiq/
ubiq_4D/
set_for_readucsf/
Uklad_1/
Uklad_2/
calcCCRrate_diff_NUS_new/
calcCCRrate_diff_NUS_old/
__pycache__/