CCR_scripts.zip
read_point_list_and_compere
read_ucsf
read_ucsf_sprawdzanie_szumu.txt
set_for_calcCCRrate_qOpn/4_CCR_1_a_new_ppm.list
set_for_calcCCRrate_qOpn/5_CCR_1_x_new_ppm.list
set_for_calcCCRrate_qOpn/6_CCR_2_a_new_ppm.list
set_for_calcCCRrate_qOpn/7_CCR_2_x_new_ppm.list
set_for_calcCCRrate_qOpn/13_CCR_4_a_new_points.list
set_for_calcCCRrate_qOpn/13_CCR_4_a_new_ppm.list
set_for_calcCCRrate_qOpn/14_CCR_4_x_new_points.list
set_for_calcCCRrate_qOpn/14_CCR_4_x_new_ppm.list
set_for_calcCCRrate_qOpn/CCR_4_CCRrate.list
set_for_calcCCRrate_qOpn/experiments_set.txt
set_for_calcCCRrate_qOpn/niecentr_6_CCR_2_a_new_ppm.list
set_for_calcCCRrate_qOpn/seq
set_for_calcCCRrate_Ubiq/5_CCR_1_a_new_points.list
set_for_calcCCRrate_Ubiq/5_CCR_1_a_new_ppm.list
set_for_calcCCRrate_Ubiq/6_CCR_1_x_new_points.list
set_for_calcCCRrate_Ubiq/6_CCR_1_x_new_ppm.list
set_for_calcCCRrate_Ubiq/7_CCR_5_a_new_points.list
set_for_calcCCRrate_Ubiq/7_CCR_5_a_new_ppm.list
set_for_calcCCRrate_Ubiq/8_CCR_5_x_new_points.list
set_for_calcCCRrate_Ubiq/8_CCR_5_x_new_ppm.list
set_for_calcCCRrate_Ubiq/Ca1Ha1_cCSA1.csv
set_for_calcCCRrate_Ubiq/Ca1Ha1_N2Hn2.csv
set_for_calcCCRrate_Ubiq/CCR_1_CCRrate.csv
set_for_calcCCRrate_Ubiq/CCR_1_CCRrate.list
set_for_calcCCRrate_Ubiq/CCR_1_exp_vs_calc.png
set_for_calcCCRrate_Ubiq/CCR_5_CCRrate.csv
set_for_calcCCRrate_Ubiq/CCR_5_CCRrate.list
set_for_calcCCRrate_Ubiq/CCR_5_exp_vs_calc.png
set_for_calcCCRrate_Ubiq/CCRrate.csv
set_for_calcCCRrate_Ubiq/experiments_set.txt
set_for_calcCCRrate_Ubiq/rcsb_pdb_1D3Z.fasta
set_for_calcCCRrate_Ubiq/ubiq_gamma_cal.csv
set_for_readucsf/5_CCR_1_a_new_ppm.list
set_for_readucsf/5_CCR_1_a.ucsf
set_for_readucsf/5_CCR_1_a_new_ppm/.5_CCR_1.list
set_for_readucsf/5_CCR_1_a_new_ppm/5_CCR_1_a_new_ppm_orgin_points.list
ubiq_4D/5_CCR_1_a_new_points.list
ubiq_4D/5_CCR_1_a_new_ppm.list
ubiq_4D/6_CCR_1_x_new_points.list
ubiq_4D/6_CCR_1_x_new_ppm.list
ubiq_4D/7_CCR_5_a_new_points.list
ubiq_4D/7_CCR_5_a_new_ppm.list
ubiq_4D/8_CCR_5_x_new_points.list
ubiq_4D/8_CCR_5_x_new_ppm.list
ubiq_4D/10_CCR_4_a_new_points.list
ubiq_4D/10_CCR_4_a_new_ppm.list
ubiq_4D/11_CCR_4_x_new_points.list
ubiq_4D/11_CCR_4_x_new_ppm.list
ubiq_4D/Ca1Ha1_cCSA1.csv
ubiq_4D/Ca1Ha1_N2Hn2.csv
ubiq_4D/CCR_1_CCRrate.csv
ubiq_4D/CCR_1_CCRrate.list
ubiq_4D/CCR_1_exp_vs_calc.png
ubiq_4D/CCR_5_CCRrate.csv
ubiq_4D/CCR_5_CCRrate.list
ubiq_4D/CCR_5_exp_vs_calc.png
ubiq_4D/CCRrate_compere_diffrent_NUS_points.ods
ubiq_4D/CCRrate.csv
ubiq_4D/experiments_set.txt
ubiq_4D/rcsb_pdb_1D3Z.fasta
ubiq_4D/ubiq_gamma_cal.csv
ubiq_4D/all/5_CCR_1_a_new_points.list
ubiq_4D/all/5_CCR_1_a_new_ppm.list
ubiq_4D/all/6_CCR_1_x_new_points.list
ubiq_4D/all/6_CCR_1_x_new_ppm.list
ubiq_4D/all/7_CCR_5_a_new_points.list
ubiq_4D/all/7_CCR_5_a_new_ppm.list
ubiq_4D/all/8_CCR_5_x_new_points.list
ubiq_4D/all/8_CCR_5_x_new_ppm.list
ubiq_4D/all/Ca1Ha1_cCSA1.csv
ubiq_4D/all/Ca1Ha1_N2Hn2.csv
ubiq_4D/all/CCR_1_CCRrate.list
ubiq_4D/all/CCR_1_exp_vs_calc.png
ubiq_4D/all/CCR_5_CCRrate.csv
ubiq_4D/all/CCR_5_CCRrate.list
ubiq_4D/all/CCR_5_exp_vs_calc.png
ubiq_4D/all/CCRrate.csv
ubiq_4D/compere_all_half_points/compere_7_CCR_5_a_intens.txt
ubiq_4D/compere_all_half_points/compere_7_CCR_5_a_peak_possition.txt
ubiq_4D/half/5_200NUS_CCR_1_a_new_points.list
ubiq_4D/half/5_200NUS_CCR_1_a_new_ppm.list
ubiq_4D/half/6_200NUS_CCR_1_x_new_points.list
ubiq_4D/half/6_200NUS_CCR_1_x_new_ppm.list
ubiq_4D/half/7_445NUS_CCR_5_a_new_points.list
ubiq_4D/half/7_445NUS_CCR_5_a_new_ppm.list
ubiq_4D/half/8_445NUS_CCR_5_x_new_points.list
ubiq_4D/half/8_445NUS_CCR_5_x_new_ppm.list
ubiq_4D/half/Ca1Ha1_cCSA1.csv
ubiq_4D/half/Ca1Ha1_N2Hn2.csv
ubiq_4D/half/CCR_1_CCRrate.list
ubiq_4D/half/CCR_1_exp_vs_calc.png
ubiq_4D/half/CCR_5_CCRrate.csv
ubiq_4D/half/CCR_5_CCRrate.list
ubiq_4D/half/CCR_5_exp_vs_calc.png
ubiq_4D/quorter/7_220NUS_CCR_5_a_new_points.list
ubiq_4D/quorter/7_220NUS_CCR_5_a_new_ppm.list
ubiq_4D/quorter/8_220NUS_CCR_5_x_new_points.list
ubiq_4D/quorter/8_220NUS_CCR_5_x_new_ppm.list
ubiq_4D/quorter/Ca1Ha1_cCSA1.csv
ubiq_4D/quorter/CCR_5_CCRrate.csv
ubiq_4D/quorter/CCR_5_CCRrate.list
ubiq_4D/quorter/CCR_5_exp_vs_calc.png
Uklad_1/CCRrate.csv
Uklad_1/experiments_set.txt
Uklad_1/rcsb_pdb_1D3Z.fasta
Uklad_1/ubiq_gamma_cal.csv
Uklad_1/CCR_1/1_CCR_1_a_new_point_ukryty.list
Uklad_1/CCR_1/1_CCR_1_a_new_ppm.list
Uklad_1/CCR_1/1_CCR_1_a.ucsf
Uklad_1/CCR_1/2_CCR_1_x_new_point_ukryty.list
Uklad_1/CCR_1/2_CCR_1_x_new_ppm.list
Uklad_1/CCR_1/2_CCR_1_x.ucsf
Uklad_1/CCR_1/peakcenter1.txt
Uklad_1/CCR_1/peakcenter2.txt
Uklad_2/CCRrate.csv
Uklad_2/experiments_set.txt
Uklad_2/rcsb_pdb_1D3Z.fasta
Uklad_2/ubiq_gamma_cal.csv
Uklad_2/PeakLists/1_CCR_1_a_lists/1_CCR_1_a_new_point_ukryty.list
Uklad_2/PeakLists/1_CCR_1_a_lists/1_CCR_1_a_new_ppm.list
Uklad_2/PeakLists/1_CCR_1_a_lists/peakcenter1.txt
Uklad_2/PeakLists/2_CCR_1_x_lists/2_CCR_1_x_new_point_ukryty.list
Uklad_2/PeakLists/2_CCR_1_x_lists/2_CCR_1_x_new_ppm.list
Uklad_2/PeakLists/2_CCR_1_x_lists/peakcenter2.txt
Uklad_2/Spectra/1_CCR_1_a.ucsf
Uklad_2/Spectra/2_CCR_1_x.ucsf
